<h1>Eat the Burger!</h1>

<div id='Name'>
  <h2>Yum Burgers!</h2>

  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </ul>
</div>

<div id='Set'>
  <h2>Eat Delicious burgers!</h2>

  <ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </ul>
</div>


<div id='Add'>
  <h2>Add a Burger</h2>

  <form class="create-devoured">
    <div class="form-group">
      <div id='input'>
        <label for="be">Burger Name:</label>
        <input type="text" id="be" name="name">
      </div>
    </div>

    <div class="form-group">
      <label for="devoured"></label><br>
    </div>

    <div id='button'>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>